body {
  background-color: #242526;
  color: white;
}

.text-input {
  background-color: transparent;
  border: none;
  padding: 10px;
  border-bottom: 3px solid white;
  font-size: 2em;
  color: white;
  outline: none;
}
